<% include _layouts/header %>
    <h3>
        <%= title %>
    </h3>
    <div>
        <%- content %>

    </div>
    <div>
        <%= author %>
    </div>

    <div>
        <%= keywords %>
    </div>
    <div>
        comments will go here
    </div>
    <% include _layouts/footer %>